{% load i18n %}
{% load static %}

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Sione Taumoepeau">
    <link rel="shortcut icon" href="{% static 'dist/img/favicon.png' %}">

    <title>    
        {% block title %}{% endblock %} | MyWhy
    </title>
    
    
	<link href="{% static 'dist/vendors/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'dist/vendors/css/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Main styles for this application -->
	<link href="{% static 'dist/css/coreui.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'node_modules/@coreui/icons/css/all.min.css' %}" rel="stylesheet" type="text/css">

  <link rel="stylesheet" type="text/css" href="{% static 'dist/css/style.css' %}"> 
 	<!--
  <link rel="stylesheet" type="text/css" href="{% static 'src/css/form.css' %}">
	-->
    
    <!-- Specific Page CSS goes HERE  -->
    {% block stylesheets %}{% endblock stylesheets %}

  </head>
  <body>

    {% include 'includes/sidebar.html' %} 

    <div class="wrapper d-flex flex-column min-vh-100" style="padding-left: 180px">
     
      {% include 'includes/navbar.html' %} 
      {% block content %}{% endblock content %}

      {% include 'includes/footer.html' %}

    </div>

    {% include 'includes/scripts.html' %} 

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}

  </body>
</html>
